body {
  margin: 0;
  /* font-family: ; */
}
.country-card {
  height: 37rem;
  /* width: auto; */
}

.flag-card {
  /* height: 9rem;
  width: auto; */
  width: 100%;
  height: auto;
}

.country-container {
  /* width: 90%; */
  padding: 10px 10px;
}
