/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&display=swap"); */

.App {
  text-align: center;
}

* {
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background-color: #2d496db0; */
  background-image: url(http://localhost:3000/assets/globalPic.jpg);
}

s .container {
  background-color: #050d169c;
  width: 80vw;
  max-width: 40em;
  padding: 2em 2em;
  position: absolute;
  transform: translate(50%, -50%);
  border-radius: 6px;
  /* box-shadow: ; */
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 30px;
  background: #0c4b8ac3;
}

.header h6 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: rgb(15, 110, 110);
}
